<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="ionMB"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ionTitle">JugaadHai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scrollView($event)">

  <div *ngIf="loading" class="loader-div">
		<div class="loader"></div>
  </div>

  <div *ngIf="isShowScrollTop" class="scrollToTop" (click)="scrollToTop()">
		<ion-icon class="scrollToTopInMiddle" name="arrow-up-outline"></ion-icon>
	</div>

  <!-- Page Content -->
  <section class="blog-area section sectionMinHeight">
    <div class="container">
      <div class="row">

        <div class="col-lg-12">
          <div class="row">
            
            <ng-container *ngFor="let item of articleLists">
              <div class="col-lg-3 col-md-6">
                <div class="card h-100">
                  <div class="single-post post-style-1">

                    <h4 class="title"><a href="" onclick="return false;"><b>{{item.title}}</b></a></h4>
                    <br>
                    
                    <span class="post-date">{{item.body}}</span>

                  </div>
                  <!-- single-post -->
                </div>
                <!-- card -->
              </div>
            </ng-container>
            <!-- <ion-spinner></ion-spinner> -->
          </div>
        </div>
      </div>
      <br>
    </div>
  </section>
</ion-content>